body{
    font-family: 'Rubik', sans-serif;   
}

.btn-primary{
    background-color: #F53838;
    margin-top: 50px;
    border: 0;
}

.btn-primary:hover{
    background-color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #4F5665;
}
a:hover{
    color:red;
}