:root {
  --main-bg-color: #4e3128;
  --main-text-color: #8b6559;
  --section-border-color: #281b17;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* background-color: #331624; */
  
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  cursor: url('pictures/cursors/pointer_2.cur'), default;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-width: 580px;
  min-height: 380px;
  position: relative;
}

header {
  text-align: center;
  background-color: var(--section-border-color);
  border-bottom: 9px ridge #8b6559;
}

h1 {
  position: relative;
  font-style: italic;
  padding: 15px;
  letter-spacing: 6px;
  font-size: 46px;

  -webkit-text-fill-color: #281b17;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #8b6559;
}

nav ul {
  /* border-top: 4px solid #281b17; */
  border-bottom: 4px solid #281b17;
  background-color: #331d16;
  margin: 0px 0px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;

  list-style: none;
  display: flex;
}

nav button {
  cursor: url('pictures/cursors/pointer.cur'), pointer;
  border: 4px outset #281b17;
  border-radius: 8px;
  background-color: #281b17;
  padding: 15px 60px;
  font-size: 20px;
  text-decoration: none;
  color: #8b6559;
  font-weight: bold;
  width: 215px;
  /* margin-right: 20px; */
}

nav button:active {
  border-style: inset;
  background-color: #8b6559;
  color: #281b17;
}


/* nav a {
  font-size: 20px;
  text-decoration: none;
  color: #8b6559;
  font-weight: bold;
} */

/* nav a:hover {
  color: #281b17;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  padding: 20px;
  line-height: 1.6;
  border: 4px solid #281b17;
  border-radius: 8px;
  background-color: #331d16;
}



.scroll-button {
  cursor: url('pictures/cursors/hand.cur'), pointer;
  font-weight: bold;
  text-align: center;
  position: fixed;
  background-color: #281b177f;
  border: 4px solid #8b655939;
  color: #8b655939;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.scroll-button:hover {
  background-color: #281b17;
  border-color: #8b6559;
  color: #8b6559;
}

#scrollToTop {
  top: 1.5%;
  right: 1%;
  /* padding: 0% 0% 0%; */
}

#scrollToBottom {
  bottom: 1.5%;
  right: 1%;
  /* padding: 0% 0% 0%; */
}



.link-button {
  cursor: url('pictures/cursors/pointer.cur'), pointer;
  position: absolute;
  font-size: 160%;
  top: 16px;
  left: 16px;
  height: 46px;
  width: 46px;

  padding: 0px;
  border-style: solid;
  font-weight: bold;

  border-width: 4px;
  border-radius: 50%;
  color: #8b6559;
  background-color: #281b17;
  border-color: #8b6559;
}

.link-button:hover {
  color: #281b17;
  background-color: #8b6559;
  border-color: #281b17;
}