*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #fff;
}

header {
  background-color: #222;
  text-align: center;
  padding: 1em 0;
}

h1 {
  margin-top: 0;
}

.section {
  padding: 2em;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section:last-child {
  border: none;
}

h2 {
  color: #222;
}

.image-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd; /* Adding the frame/border around the image */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.expanded img {
  max-height: none !important;
}