*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  cursor: url('pictures/cursors/pointer_2.cur'), default;
  font-weight: bold;	
}

body {
  background-image: url('pictures/bg/DOOR.jpg');
  background-size: auto;
  background-position-x: 50%;
  background-position-Y: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 280px;
  min-height: 1280px;
  position: relative;
}

header {
  background-color: #181818;
  text-align: center;
  border-bottom: 9px ridge #a92d00;
}

h1 {
  padding: 15px;
  letter-spacing: 6px;
  font-size: 46px;
  color: #a92d00;
  -webkit-text-fill-color: #181818;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #a92d00;
}

footer {
  margin: 22px;
  margin-top: 33px;

  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  cursor: url('pictures/cursors/pointer.cur'), pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  border-radius: 16px;
  height: 104px;

  font-size: 33px;
  flex-basis: 30ch;
  color: #bb3f19;
  background-color: #181818;
  border-width: 12px;
  border-style: double;
  border-color: #bb3f19;
  margin: 25px 0px;
}

.button:hover {
  text-shadow: 0.5px 0px;
  background-color: #222;
  color: #ca5234;
  border-color: #ca5234;
}

.sound-button {
  cursor: url('pictures/cursors/pointer.cur'), pointer;
  position: fixed;
  justify-content: center;
  font-size: 226%;
  bottom: 8px;
  right: 8px;
  height: 66px;
  width: 66px;
  padding: 0px;
  border-style: solid;

  border-width: 4px;
  border-radius: 50%;
  background-color: #181818;
  border-color: #a92d00;
  color: #a92d00;
}

.sound-button:hover {
  color: #181818;
  background-color: #a92d00;
  border-color: #181818;
}

/* .link-button {
  cursor: url('pictures/cursors/pointer.cur'), pointer;
  position: relative;
  text-align: center;
  font-size: 200%;

  height: 66px;
  width: 66px;
  margin: 12px;
  padding: 0px;
  border-style: outset;
  border-width: 8px;
  border-radius: 16px 16px;
  background-color: #141414;
  border-color: #bb3619;

}

.link-button:hover {
  background-color: #222;
  border-color: #ca4f34;
} */