:root {
  --main-bg-color: #4e3128;
  /* --main-bg-color: #533930; */
  --main-text-color: #8b6559;
  --section-border-color: #281b17;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  cursor: url('picture-cursor/cursor.cur'), default;	
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  border-bottom: 8px ridge #8b6559;
  background-color: var(--section-border-color);
  font-size: 150%;

  padding: 1em 0;
}

h1 {
  text-align: center;
  font-style: italic;
  text-align: center;
  -webkit-text-fill-color: #281b17;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #8b6559;
  margin-top: 0;
}

h2 {
  border: 4px solid #8b6559;
  border-radius: 16px 66px;
  background-color: #281b17;
  font-size: 150%;
  letter-spacing: 3px;
  padding: 20px;
  position: static;
  display: flex;
  justify-content: center;
  cursor: url('picture-cursor/select.cur'), pointer;
}

/* //////////////////////////////////////////// */

.section {
  padding: 2em;
  font-size: 16px;
  border-bottom: 8px solid #281b17;
}

.section:last-child {
  border: none;
}

/* //////////////////////////////////////////// */

.container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.01s;
}

.section.active .container {
  margin: 20px;
  padding: 20px;
  border-radius: 16px 16px;
  border: 4px solid #8b6559;
  background-color: #281b17;
  position: relative;
  transition: max-height 2.66s linear;  /* Smooth transition for height change */
  max-height: 1000px; /* Adjust the value based on your image size */
}

.container img {
  max-width: 15%;
  top: 10%;
  left: 80%;
  position: relative;
  border: 6px solid #281b17;
  margin: 1em auto;
  opacity: 0;
  transition: opacity 0.1s;
}

.section.active .container img {
  opacity: 1;
}

/* //////////////////////////////////////////// */

.gallery-item {
  border-radius: 66px;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s;

}

.gallery-item:hover {
  cursor: url('picture-cursor/select2.cur'), pointer;
  -webkit-filter: none;
  filter: none;
  transform: scale(1.02);
}